**/*.config.js
node_modules/**
tmp/**
static/**
pnpm-lock.yaml
pnpm-workspace.yaml
**/README.md
**/package.json
.prettierignore
.prettierrc.json
**/.eslintrc.json
.npmrc
.gitignore
**/tsconfig.json
.vscode/**
.idea/**
prisma
.next/**
LICENSE
.env
.env.*
public/**